:host {
	display: block;
	font-family: sans-serif;
	height: 100%;

	h1 {
		margin-right: 1em;
	}

	button {
		margin-right: 0.5em;
	}

	a {
		margin-left: auto;
	}

	.main {
		height: calc(100% - var(--toolbar-height));
	}
}
