:host {
	display: block;
	font-family: sans-serif;
	min-width: 300px;
	max-width: 600px;
	margin: 50px auto;
}

div {
	display: flex;
	align-items: center;
}

div > span {
	margin-right: 1em;
}

button {
	display: block;
	margin: 1em;
}
