<h1>{{ title }}</h1>
<p>Open the network tab to see the injected tokens!</p>

<div>
	<button (click)="login()">Login (Create token)</button>
	<span>Lifespan (seconds):</span>
	<input #lifespan type="number" placeholder="60" />
</div>
<button (click)="logout()">Logout (Remove token)</button>

<span>token: {{ token$ | async | json }}</span>

<button (click)="requestWhitelistedPathOnWhitelistedDomain()">
	Request whitelisted path on whitelisted domain
</button>
<button (click)="requestBlacklistedPathOnWhitelistedDomain()">
	Request blacklisted path on whitelisted domain
</button>
<button (click)="requestOnBlacklistedDomain()">Request on blacklisted domain</button>
<div>
	<button (click)="customGet()">Get from here:</button>
	<span>URL</span><input type="text" placeholder="url" />
</div>
