<h1>{{ title }}</h1>
<p>
	Open the console! Press Login to acqure a new token-pair, then try making requests towards the
	first endpoint, and watch the token change everytime you try to make a request when it's
	expired!
</p>
<p>
	You won't see the requests hit the Network tab as this example is served by an interceptor!
	Custom URL however will get through!
</p>
<p>
	The refresh token's lifetime is always 3 times as long as the access tokens! If you wait
	{{ (lifespan || defaultLifespan) * 3 }} seconds, then your request will fail, and you would have
	to log in again!
</p>
<div>
	<button (click)="login()">Login (Create token)</button>
	<span>Lifespan (seconds):</span>
	<input [(ngModel)]="lifespan" type="number" [placeholder]="defaultLifespan.toString()" />
</div>
<button (click)="logout()">Logout (Remove token)</button>

<div>
	<span>accessToken$: {{ jwtTokenService.accessToken$ | async | json }}</span>
	<span>isExpired? {{ isAccessTokenExpired$ | async }}</span>
</div>

<div>
	<span>refreshToken$: {{ jwtTokenService.refreshToken$ | async | json }}</span>
	<span>isExpired? {{ isRefreshTokenExpired$ | async }}</span>
</div>

<button (click)="api.requestWhitelistedPathOnWhitelistedDomain()">
	Request whitelisted path on whitelisted domain
</button>
<button (click)="api.requestBlacklistedPathOnWhitelistedDomain()">
	Request blacklisted path on whitelisted domain
</button>
<button (click)="api.requestOnBlacklistedDomain()">Request on blacklisted domain</button>
<div>
	<button (click)="api.customGet(url.value)">Get from here:</button>
	<span>URL</span><input #url type="text" placeholder="url" />
</div>

<button [routerLink]="'/protected'">Go to a login protected page!</button>
